:root {
  /* Primary Colors */
  --tomato: hsl(4, 100%, 67%);

  /* Neutral Colors */
  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
